[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = true
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	; cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	; push by branch name, when not tracking the remote branch
	default = current
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
	name = cviejo
	signingkey = 0B86782B8AA1F893
	email = 1179357+cviejo@users.noreply.github.com
[commit]
	gpgsign = true
